body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.display-3 {
  font-family : Bebas Neue;
  text-decoration: underline;
  color: #736B26;
}

.lead {
  font-size: 25px;
  color: #212f61
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #52f2f5;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour  {
  background-color: #ffffff!important;
  color: #000000!important;
  border-top: 1px dashed #000000!important;
}

.past {
  background-color: #d3d3d3;
  color: green;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: rgb(180, 15, 15);
}

.col-1 {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  text-align: center;
  cursor: pointer;
}

.col-1 i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

